#root {
	min-height: 100dvh;
	padding: 2rem 1rem;

	font-family: sans-serif;
	color: var(--color-dark-slate);
	background-color: var(--color-light-gray);
}

.cardSelect {
	max-width: 8rem;

	color: white;
	background: var(--color-blue);
}
