#root {
	min-height: 100dvh;
	padding: 2rem 1rem;

	font-family: sans-serif;
	color: var(--color-dark-slate);
	background-color: var(--color-light-gray);
}

.box-shadow {
	box-shadow: 0 10px 15px -3px var(--color-opaque);
}

.rounded {
	border-radius: 1rem;
}

.rounded-full {
	border-radius: 9999px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 1.5rem 1rem 0.5rem 1rem;
	border-radius: 1.5rem;

	background-color: var(--color-white);
}

.container-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.icon-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1 / 1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 2rem;
}
