#root {
	min-height: 100dvh;
	padding: 2rem 1rem;

	font-family: sans-serif;
	color: var(--color-dark-slate);
	background-color: var(--color-light-gray);
}

.box-shadow {
	box-shadow: 0 10px 15px -3px var(--color-opaque);
}

.rounded {
	border-radius: 1rem;
}

.rounded-full {
	border-radius: 9999px;
}

.block {
	display: block;
	width: 100%;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.bg-blue {
	color: var(--color-white);
	background-color: var(--color-blue);
}

.container {
	min-width: 100px;

	padding: 1.5rem 1rem 0.5rem 1rem;
	border-radius: 1.5rem;

	background-color: var(--color-white);
}

.absoluteContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100dvw;
	height: 100dvh;

	background: rgba(0, 0, 0, 0.226);
	backdrop-filter: blur(1px);
}

.formButton {
	border: none;
	padding: 0.5rem 1rem;

	cursor: pointer;
}

.container-title {
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.icon-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1 / 1;
}

.cardSelect {
	max-width: 8rem;

	color: white;
	background: var(--color-blue);
}
