@import "tailwindcss";

@theme {
	--color-red: #e7000b;

	--color-blue: #4843f8;
	--color-dark-blue: #0c1428;
	--color-dark-slate: #0f172b;

	--color-white: #fff;
	--color-gray: #4a5565;
	--color-light-gray: #eff5ff;

	--color-opaque: #0000001a;
}

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer components {
	.input-text {
		@apply block w-full my-2 px-2 rounded-md border-2 border-opaque focus:border-4 focus-visible:border-blue;
	}

	.form-button {
		@apply px-4 py-2 mx-2 cursor-pointer rounded-full text-white bg-blue hover:shadow-lg hover:scale-105 transition-all ease-in-out duration-100;
	}

	.scrollbar {
		scroll-behavior: smooth;
	}

	.scrollbar-hide::-webkit-scrollbar {
		background: transparent;
		height: 8px;
	}
	.scrollbar-hide::-webkit-scrollbar-thumb {
		background: var(--color-opaque);
	}
}
