*, :after, :before, ::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-blue: #4843f8;
  --color-dark-blue: #0c1428;
  --color-white: #fff;
  --color-light-gray: #eff5ff;
  --color-dark-slate: #0f172b;

  --color-opaque: #0000001a;
}
